accelerate==0.30.1
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==1.4.8
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backoff==2.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
bleach==6.1.0
blinker==1.8.2
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools==5.3.3
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
compressed-rtf==1.0.6
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.1
crcmod==1.7
cryptography==42.0.8
cycler==0.12.1
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
datasets==2.18.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnspython==2.6.1
docx2txt==0.8
ebcdic==1.1.1
einops==0.8.0
email_validator==2.1.1
emoji==2.10.1
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.1
executing==2.0.1
extract-msg==0.28.7
faiss-gpu==1.7.2
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.19.1
feedparser==6.0.11
ffmpy==0.3.2
filelock @ file:///croot/filelock_1700591183607/work
filetype==1.2.0
fitz==0.0.1.dev2
FlagEmbedding==1.2.8
fonttools==4.53.0
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.4.1
fsspec==2024.2.0
func_timeout==4.3.5
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
gradio==4.10.0
gradio_client==0.7.3
greenlet==3.0.3
griffe==0.45.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.6
imageio==2.34.1
IMAPClient==2.1.0
importlib-metadata==6.11.0
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath==0.10.0
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.24.0
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
lagent==0.2.2
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.75
lazy_loader==0.4
loguru==0.7.2
looseversion==1.3.0
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.20.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mmengine==0.10.4
modelscope==1.15.0
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1717597493534/work
nibabel==5.2.1
nipype==1.8.6
nltk==3.8.1
notebook==7.1.3
notebook_shim==0.2.4
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
olefile==0.47
openai==1.33.0
opencv-python==4.10.0.82
openpyxl==3.1.3
openxlab==0.0.38
orjson==3.10.3
oss2==2.17.0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pdfminer.six==20191110
peft==0.11.1
pexpect==4.9.0
phx-class-registry==4.1.0
Pillow==9.5.0
platformdirs==4.2.2
prometheus_client==0.20.0
prompt_toolkit==3.0.46
protobuf==4.25.3
prov==2.0.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.8.0
Pympler==1.0.1
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pyparsing==3.1.2
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.2.7
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.23
pytz==2023.4
pytz-deprecation-shim==0.1.0.post0
pyxnat==1.6.2
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rapidfuzz==3.6.1
rdflib==7.0.0
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rpds-py==0.18.1
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.0.1
sentencepiece==0.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.30
stack-data==0.6.3
starlette==0.37.2
streamlit==1.24.0
sympy @ file:///croot/sympy_1701397643339/work
tabulate==0.9.0
tenacity==8.3.0
termcolor==2.4.0
terminado==0.18.1
textract==1.6.5
threadpoolctl==3.5.0
tifffile==2024.5.22
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
traits==6.3.2
transformers==4.41.1
transformers-stream-generator==0.0.4
triton==2.1.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==4.3.1
ujson==5.10.0
unstructured==0.12.6
unstructured-client==0.18.0
uri-template==1.3.0
urllib3==1.26.18
uvicorn==0.30.1
uvloop==0.19.0
validators==0.28.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
xlrd==1.2.0
XlsxWriter==3.2.0
xtuner==0.1.17
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.19.2
